.brands__wrapper {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.1rem;
}

.brand__wrapper {
  background-color: @primary-color;
  padding: 2rem;
}

.brand__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brand__icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: @dark-3;
}

@media screen and (max-width: 1100px) {
  .brands__wrapper {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 800px) {
  .brands__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}