.brands__wrapper {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.brand__wrapper {
  background-color: @primary-color;
  padding: 2rem;
}

.brand__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.brand__icon {
  margin-right: 1rem;
  font-size: 3rem;
  color: @dark-3;
}